@model NewsProject.Models.Slider

@{
    ViewData["Title"] = "Create Slider";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-6">
        <h2 class="text-center mb-4">Create New Slider</h2>
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Image</label>
                <input type="file" name="ImageFile" class="form-control" accept="image/*" required />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Link" class="form-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
